.podcast{
    min-height: 100vh;
    display: grid;
    gap: 20px;

    .podcastHero{
        border: 1px solid green;
        left: 0;
        right: 0;
        width: 100vw;
        height: 400px;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        padding: 20px;
        box-sizing: border-box;

        .podcastHeroHeader{
            padding: 0;
            margin: 0;
            align-content: center;
            font-size: 8vw;
            height: 100%;
            text-align: center;
        }
    }

    .podcastItem{
        border: 1px solid black;
        height: 200px;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 20px;
    }
}