.events{
    background-color: black;
    display: grid;
    grid-template-rows: 400px, 200px, 1fr;
    place-items: center;

    .eventsHeader{
        color: white;
        width: 60%;
        align-content: center;
        text-align: center;

        .promotion, .eventCaption{
            font-size: 1.25em;
        }
        .fighters{
            font-size: 2em;
            img{
                height: 200px;
                width: 100%;
            }
        }
        .linkContainer{
            display: flex;
            justify-content: space-evenly;

            a{
                height: 30px;
                width: 200px;
                border: 1px solid lightgrey;
                align-content: center;
                text-decoration: none;
                background-color: whitesmoke;
                color: black
            }
        }
    }

    .eventsFilter{
        background-color: white;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .button{
            border: 1px solid black;
            width: 100px;
            height: 40px;
            align-content: center;
            text-align: center;
            &:hover{
                cursor: pointer;
            }
        }
        .past{
            background-color: rgb(0, 56, 132);
            color: white;
            border: 1px solid black;
            width: 100px;
            height: 40px;
            align-content: center;
            text-align: center;
            &:hover{
                cursor: pointer;
            }
        }
        .upcoming{
            background-color: rgb(0, 56, 132);
            color: white;
            border: 1px solid black;
            width: 100px;
            height: 40px;
            align-content: center;
            text-align: center;
            &:hover{
                cursor: pointer;
            }
        }
    }

    .eventsPage{
        border: 1px solid red;
        background-color: white;
        width: 100%;

        .eventsUpcomingList{
            list-style: none;
            padding: 20px;
            margin: 0;
            display: grid;
            gap: 20px;

            .fightCard{
                border: 1px solid black;
                display: grid; 
                grid-template-columns: repeat(4, 1fr);
                height: 150px;

                .cardSection{
                    text-align: center;
                    align-content: center;
                }
            }
        }
    }

}